[submodule "mam.client.js"]
	path = mam.client.js
	url = https://github.com/iotaledger/mam.client.js.git
[submodule "IOTA-Performance-Test"]
	path = IOTA-Performance-Test
	url = ../IOTA-Performance-Test.git
