extends layout

block content
  h1= title
  div(class="form-group row")
    label(for="inputAddress", class="col-sm-2 col-form-label") Address
    div(class="col-sm-10")
      input(type="text", class="form-control", id="inputAddress", placeholder="OAZUEUIFHISXGUFCBBRTJBRLIJJEJFFEIVSFHPNQRRHIXXKUCXVQNDIVXVNOICUWLLYEZVADHHULIEOFY")